
#dog5 {

    position: relative;
    width: 20px;
    height: 20px;


    animation-name: runningDog;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes runningDog {
    0% {left: 1000px; top: 200px;font-size: 15px; font-family: "Book Antiqua";}
    20% {left: 400px; top: 200px; font-size: 20px; font-family: "Bodoni MT Condensed";}
    40% {left: 400px; top: 400px; font-size: 25px; font-family: "Franklin Gothic Book"}
    60% {left: 100px; top: 400px; font-size: 25px; font-family: "Fira Code";}
    80% {left: 1000px; top:200px; font-size: 10px; font-family: "Lucida Sans Unicode";}


}

#animation{
    width: 1800px;
    height: 1800px;
    position: fixed;
    background-color: darksalmon;
    /* thirdly setup animation*/
    animation-name: firstAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
/*secondly create keyframe*/
@keyframes  firstAnimation {
    /*in keyframe we will change from ... to ...*/
    from {background-color: chartreuse}
    to {background-color: red}

}

#imageAnimation3 {


    position: relative;
    width: 20px;
    height: 20px;


    animation-name: runningBone;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes runningBone {
    0% {left: 500px; top: 200px;font-size: 15px; font-family: Algerian;}
    20% {left: 200px; top: 100px; font-size: 30px; font-family: "Britannic Bold";}
    40% {left: 200px; top: 200px; font-size: 35px; font-family: Broadway;}
    60% {left: 40px; top: 200px; font-size: 50px; font-family: "Bookshelf Symbol 7";}
    80% {left: 500px; top:100px; font-size: 15px; font-family: "Bookman Old Style"}


}

